<template>

    <div  class="container mt-3 mb-5">
<!--
        <h1>Hi {{account.user.firstName}}!</h1>
        <p>You're logged in with Vue + Yii</p>
-->
<!--
        <em v-if="users.loading">Loading...</em>
-->
        <span v-if="users.error" class="text-danger">ERROR: {{users.error}}</span>

        <h2>Log apache access</h2>
        <div class="page_logs">
        <b-row class="mb-3">

          <b-col md="3" class="mb-2">
            <template>
              <date-range-picker
                v-model="dateRange"
                :date-format="dateFormat"
                :locale-data="{ firstDay: 1, format: 'yyyy-mm-dd' }"
                :autoApply="true"
                @update="eventUpdateRangepicker"
              ></date-range-picker>
            </template>
          </b-col>
          <b-col md="3" class="mb-2">
            <b-form-input
              v-model="filterIP"
              @update="eventSearchByIP"
              type="search" id="filterInput" placeholder="Search by IP"
              >
              </b-form-input>
          </b-col>
          <b-col md="3" class="mb-2">
          </b-col>
          <b-col md="3" class="mb-2 text-right">
            <router-link to="/login">Logout</router-link>
          </b-col>

        </b-row>

        <b-row>
          <b-col>
            <b-pagination
              pills size="sm"
              v-model="currentPage"
              :total-rows="result.countPage"
              :per-page="perPage"
              aria-controls="my-table"
              align="center"
            ></b-pagination>
            <div>
            <b-table
              class="table table_logs"
              sticky-header = "650px"
              striped
              hover
              outlined
              :busy.sync="isBusy"
              :items="result.logs"
              :fields="fields"
              :current-page="currentPage"
              :per-page="0"

              :filter-included-fields="filterOn"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              :no-local-sorting="true"

              show-empty
              small
              @sort-changed="sortingChanged"
            >
            </b-table>
            </div>
          </b-col>
        </b-row>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import DateRangePicker from 'vue2-daterange-picker'

export default {
  props: [],
  items: [],
  ctx: [],
  name: "App",
  countRows: false,
  data() {
    let startDate = new Date();
    startDate.setHours(0, 0, 0, 0)
    let endDate = new Date();
    endDate.setHours(23, 59, 59, 59)
    return {
      filter: "",
      filterIP: "",
      minCountSymbolSearchFilterIP: 3,
      currentPage: 1,
      perPage: 1,
      //pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      fields: [
          { key: 'ip', label: 'IP', sortable: true, class: 'text-center' },
          { key: 'user_id', label: 'User', sortable: true, class: 'text-center' },
          { key: 'date_time', label: 'Date', sortable: true, class: 'text-center col-date_time' },
          { key: 'timezone', label: 'Timezone', sortable: true, class: 'text-center' },
          { key: 'metod', label: 'Metod', sortable: true, class: 'text-center' },
          { key: 'path', label: 'Path', sortable: true, class: 'text-center' },
          { key: 'protocol', label: 'Protocol', sortable: true, class: 'text-center' },
          { key: 'status', label: 'Status', sortable: true, class: 'text-center' },
          { key: 'size', label: 'Size', sortable: true, class: 'text-center' },
          { key: 'referer', label: 'Referer', sortable: true, class: 'text-center' },
          { key: 'agent', label: 'Agent', sortable: true, class: 'text-center' },
        ],
      isBusy: false,

      dateRange: {
          startDate: startDate,
          endDate: endDate,
      },

    };
  },
  components: {DateRangePicker},
  computed: {
      ...mapState({
          account: state => state.account,
          users: state => state.users.all,
          result: state => state.users.result,
      })
  },
  created () {
      //this.getAll();
      this.currentPage = 1;
      const params = {
        currentPage: this.currentPage,
        startDate: this.dateFormatToJSONLocal(this.dateRange.startDate),
        endDate: this.dateFormatToJSONLocal(this.dateRange.endDate),
      };
      this.getAllLogs(params);
  },
  watch: {
    currentPage: {
      handler: function(value) {
          this.currentPage = value;
          const params = {
            currentPage: this.currentPage,
            ip:this.filterIP,
            ctx:this.ctx,
            startDate: this.dateFormatToJSONLocal(this.dateRange.startDate),
            endDate: this.dateFormatToJSONLocal(this.dateRange.endDate),
          };
          this.getAllLogs(params);
      }
    }
  },
  methods: {
     dateFormat (classes, date) {
        if (!classes.disabled) {
          //classes.disabled = date.getTime() < new Date()
        }
        return classes
     },
     dateFormatToJSONLocal (date) {
       var local = new Date(date);
       local.setMinutes(date.getMinutes() - date.getTimezoneOffset());
       return local.toJSON().slice(0, 10);
     },
     eventUpdateRangepicker(){
       this.currentPage = 1;
       const params = {
         currentPage: this.currentPage,
         ip:this.filterIP,
         ctx:this.ctx,
         startDate: this.dateFormatToJSONLocal(this.dateRange.startDate),
         endDate: this.dateFormatToJSONLocal(this.dateRange.endDate),
       };
       this.getAllLogs(params);
     },
     sortingChanged(ctx) {
       this.ctx = ctx;
       const params = {
         currentPage: this.currentPage,
         ip:this.filterIP,
         ctx:this.ctx,
         startDate: this.dateFormatToJSONLocal(this.dateRange.startDate),
         endDate: this.dateFormatToJSONLocal(this.dateRange.endDate),
        };
       this.getAllLogs(params);
    },
    eventSearchByIP(){
      if(this.filterIP.length && this.filterIP.length < this.minCountSymbolSearchFilterIP){
        return false;
      } else {
        this.currentPage = 1;
        const params = {
          currentPage: this.currentPage,
          ip:this.filterIP,
          ctx:this.ctx,
          startDate: this.dateFormatToJSONLocal(this.dateRange.startDate),
          endDate: this.dateFormatToJSONLocal(this.dateRange.endDate),
        };
        this.getAllLogs(params);
      }
    },
    onFiltered(filteredItems) {
console.log(filteredItems);
        //this.totalRows = filteredItems.length
        //this.currentPage = 1
    },
    ...mapActions('users', {
        getAllLogs: 'getAllLogs',
    })
  }
};
</script>

<style media="screen">
.page_logs{
  font-size: 12px;
}
.col-date_time{
  min-width: 90px;
}
</style>
