<template>
             <div class=" py-5">
               <div>
                 <div class="container ">
                     <div class="row ">
                         <div class="col-sm-6 offset-sm-3 ">
                             <div v-if="alert.message" :class="`alert ${alert.type}`">{{alert.message}}</div>
                         </div>
                     </div>
                 </div>
             </div>
                    <router-view></router-view>
             </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    name: 'app',
    computed: {
        ...mapState({
            alert: state => state.alert
        })
    },
    methods: {
        ...mapActions({
            clearAlert: 'alert/clear'
        })
    },
    watch: {
        $route (to, from){
            // clear alert on location change
            this.clearAlert();
        }
    }
};
</script>
